<div class="header-post-title-container clearfix">
  <div class="inner-wrap">
    <div class="post-title-wrapper">
      <h1 class="header-post-title-class">새 글 쓰기</h1>
    </div>
  </div>
</div>
<form [formGroup]="writeFormGroup" (ngSubmit)="writePost()" novalidate>

<div id="main" class="clearfix" style="padding: 20px 0 10px 0;">
  <div class="inner-wrap">

    <div id="primary">
      <div id="content" class="clearfix">
        <input type="text" style="width:100%" placeholder="제목을 여기에 입력하세요." formControlName="title"/>
        <!--<div class="editor-toolbar"><a title="Bold (Ctrl-B)" tabindex="-1" class="fa fa-bold"></a><a title="Italic (Ctrl-I)" tabindex="-1" class="fa fa-italic"></a><a title="Heading (Ctrl-H)" tabindex="-1" class="fa fa-header"></a><i class="separator">|</i><a title="Quote (Ctrl-')" tabindex="-1" class="fa fa-quote-left"></a><a title="Generic List (Ctrl-L)" tabindex="-1" class="fa fa-list-ul"></a><a title="Numbered List (Ctrl-Alt-L)" tabindex="-1" class="fa fa-list-ol"></a><i class="separator">|</i><a title="Create Link (Ctrl-K)" tabindex="-1" class="fa fa-link"></a><a title="Insert Image (Ctrl-Alt-I)" tabindex="-1" class="fa fa-picture-o"></a><i class="separator">|</i><a title="Toggle Preview (Ctrl-P)" tabindex="-1" class="fa fa-eye no-disable"></a><a title="Toggle Side by Side (F9)" tabindex="-1" class="fa fa-columns no-disable no-mobile"></a><a title="Toggle Fullscreen (F11)" tabindex="-1" class="fa fa-arrows-alt no-disable no-mobile"></a><i class="separator">|</i><a title="Markdown Guide" tabindex="-1" class="fa fa-question-circle" href="https://simplemde.com/markdown-guide" target="_blank"></a></div>-->
        <textarea style="width:100%" rows="20" formControlName="content"></textarea>
      </div>
      <!-- #content -->
    </div>
    <!-- #primary -->


    <div id="secondary">
      <aside class="widget widget_categories">
        <h3 class="widget-title"><span>공개하기</span></h3>
        <ul>
          <li class="cat-item cat-item-5"> <button type="submit">공개하기</button>
          </li>
        </ul>
      </aside>
      <app-category [blogId]="blogId"
                    [mode]="'write'"
                    (onCategoryClick)="clickCategory($event)">
      </app-category>
      <app-tag [blogId]="blogId" (onChanged)="changedTags($event)"></app-tag>
    </div>


  </div>
  <!-- .inner-wrap -->
</div>
</form>
