<aside class="widget widget_categories">
  <h3 class="widget-title"><span>카테고리</span></h3>
  <ul>
    <li class="cat-item cat-item-5" *ngFor="let category of categorys"><a href="#" (click)="clickCategory($event, category.id)" [ngClass]="{'selected':mode === 'write' && selectedCategory === category.id}">{{category.categoryName}}</a> <span *ngIf="mode !== 'write'">({{category.useCount}})</span>
    </li>
    <li class="cat-item cat-item-9" *ngIf="mode === 'write'"><a href="#" (click)="clickCreateCategory($event)"> + 카테고리 추가</a>
    </li>
  </ul>
</aside>
