<div [hidden]="post">
  Loading...
</div>
<div *ngIf="post">
  <div class="header-post-title-container clearfix">
    <div class="inner-wrap">
      <div class="post-title-wrapper">
        <h1 class="header-post-title-class">{{post.title}}</h1>
      </div>
    </div>
  </div>
  <div id="main" class="clearfix">
    <div class="inner-wrap">
      <div id="primary">
        <div id="content" class="clearfix">
          <article class="post type-post status-publish format-standard hentry category-uiux-">
            <div class="entry-content clearfix">
              <p>
              <span style="font-size: 14px">
                {{post.content}}
              </span>
              </p>
            </div>
            <div class="tags">
              태그:
              <a *ngFor="let tag of post.tagNames" href="#" rel="tag">{{tag}}</a>
            </div>
            <footer class="entry-meta-bar clearfix">
              <div class="entry-meta clearfix">
                <span class="by-author author vcard"><a class="url fn n" href="#">{{userName}}</a></span>

                <span class="date"><a href="#" title="2:49 오후" rel="bookmark"><time class="entry-date published" datetime="2017-11-30T14:49:47+00:00">{{getDate(post.createdDate) | date: 'yyyy년 MM월 dd일' }}</time></a></span>
                <span class="category"><a href="#" rel="category">{{post.category.categoryName}}</a></span>
                <app-comment [postId]="post['id']" #commentCount></app-comment>
              </div>
            </footer>
          </article>
          <app-comment-list [postId]="post['id']" #commentList></app-comment-list>
          <div id="comments" class="comments-area">
            <div id="respond" class="comment-respond">
              <h3 id="reply-title" class="comment-reply-title">답글 남기기</h3>
                <p class="comment-form-comment">
                  <label for="comment">댓글</label>
                  <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" aria-required="true" required="required" [(ngModel)]="commentMessage"></textarea>
                </p>
                <p class="form-submit"><input name="submit" class="submit" type="button" value="댓글 달기" (click)="saveComment()"></p>
            </div>
            <!-- #respond -->
          </div>
          <!-- #comments -->
        </div>
        <!-- #content -->
      </div>
      <!-- #primary -->

      <div id="secondary">

        <aside id="search-5" class="widget widget_search">
          <form action="#" class="search-form searchform clearfix" method="get">
            <div class="search-wrap">
              <input type="text" placeholder="검색" class="s field" name="s">
              <button class="search-icon" type="submit"></button>
            </div>
          </form>
          <!-- .searchform -->
        </aside>
        <app-category [blogId]="post?.blogId"
                      (onCategoryClick)="clickCategory($event)">
        </app-category>
      </div>
    </div>
    <!-- .inner-wrap -->
  </div>
</div>
