<div id="main" class="clearfix">
  <div class="inner-wrap">
    <div id="primary">
      <div id="content" class="clearfix">

        <article class="post" *ngFor="let post of posts;">
          <header class="entry-header">
            <h2 class="entry-title">
              <a href="#" (click)="clickPost($event, post['id'])" title="{{post['title']}}">{{post['title']}}</a>
            </h2>
          </header>
          <div class="entry-content clearfix">
            <p>{{post['content']}}</p>
          </div>
          <footer class="entry-meta-bar clearfix">
            <div class="entry-meta clearfix">
              <span class="by-author author vcard"><a class="url fn n" href="#">{{userName}}</a></span>
              <span class="date"><a href="#" title="2:49 오후" rel="bookmark"><time class="entry-date published" datetime="2017-11-30T14:49:47+00:00">{{getDate(post['createdDate']) | date: 'yyyy년 MM월 dd일' }}</time></a></span>
              <span class="category"><a href="#" rel="category">{{post['category']['categoryName']}}</a></span>
              <app-comment [postId]="post['id']"></app-comment>
              <span class="read-more-link"><a class="read-more" href="#"  (click)="clickPost($event, post['id'])">더 읽기</a></span>
            </div>
          </footer>
        </article>
        <ul class="default-wp-page clearfix">
          <li class="previous"><a href="#">« 이전</a></li>
          <li class="next"></li>
        </ul>
      </div>
      <!-- #content -->
    </div>
    <!-- #primdary -->
    <div id="secondary">
      <aside id="search-5" class="widget widget_search">
        <form action="#" class="search-form searchform clearfix" method="get">
          <div class="search-wrap">
            <input type="text" placeholder="검색" class="s field" name="s" [formControl]="keywordInput">
            <button class="search-icon" type="submit" (click)="searchKeyword()"></button>
          </div>
        </form>
        <!-- .searchform -->
      </aside>
      <app-category [blogId]="blogId"
                    (onCategoryClick)="clickCategory($event)">
      </app-category>
    </div>
  </div>
</div>
