<div id="page" class="hfeed site">
  <header id="masthead" class="site-header clearfix">
    <div id="wp-custom-header" class="wp-custom-header"><img src="./assets/banner.jpg" class="header-image" width="1500" height="272" alt="블로그 명"></div>
    <div id="header-text-nav-container">
      <div class="inner-wrap">

        <div id="header-text-nav-wrap" class="clearfix">
          <div id="header-left-section">
            <div id="header-text" class="">
              <h1 id="site-title">
                <a href="#" title="블로그 제목영역" rel="home">{{blogName}}</a>
              </h1>
              <!-- #site-description -->
            </div>
            <!-- #header-text -->
          </div>
          <!-- #header-left-section -->
          <div id="header-right-section">
            <nav id="site-navigation" class="main-navigation" role="navigation">
              <h3 class="menu-toggle">메뉴</h3>
              <div class="menu-menu-1-container">
                <ul id="menu-menu-1" class="menu nav-menu">
                  <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-143"><a href="#" routerLink='/list/{{blogId}}'>홈</a></li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-143"><a href="#" routerLink="/write/{{blogId}}">새글</a></li>
                </ul>
              </div>
            </nav>
          </div>
          <!-- #header-right-section -->
        </div>
        <!-- #header-text-nav-wrap -->
      </div>
      <!-- .inner-wrap -->
    </div>
    <!-- #header-text-nav-container -->
  </header>
  <router-outlet></router-outlet>
  <footer id="colophon" class="clearfix">
    <div class="footer-socket-wrapper clearfix">
      <div class="inner-wrap">
        <div class="footer-socket-area">
          <div class="copyright">Copyright © 2017 <a href="#" title="블로그 제목"><span>블로그 제목 </span></a>. Powered by <span>Daughter</span>. 테마: Spacious(<a href="https://themegrill.com/themes/spacious" target="_blank" title="ThemeGrill" rel="designer"><span>ThemeGrill</span></a>							제작).</div>
          <nav class="small-menu clearfix">
          </nav>
        </div>
      </div>
    </div>
  </footer>
  <a href="#masthead" id="scroll-up" style="display: none;"></a>
</div>
