<div *ngIf="comments?.length > 0" class="comment">
  <h3>댓글</h3>
  <div *ngFor="let comment of comments">
    <div class="author">{{comment['userName']}} ({{getDate(comment['createdDate']) | date: 'yyyy년 MM월 dd일'}})</div>
    <div class="content">{{comment['content']}}</div>
  </div>
</div>

