.mde-header {
 position: relative;
 opacity: .6;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 -o-user-select: none;
 user-select: none;
 padding: 0 10px;
 border-top: 1px solid #bbb;
 border-left: 1px solid #bbb;
 border-right: 1px solid #bbb;
 border-top-left-radius: 4px;
 border-top-right-radius: 4px;
}

.mde-preview {
  display: none
}


.react-mde .mde-text textarea {
  min-height: 500px;
}


.mde-dropdown-header-item p {
  color: #666666
}
