<aside class="widget widget_categories">
  <h3 class="widget-title"><span>태그</span></h3>
  <div>
    <p>
      <input style="width: 60%" type="text" [(ngModel)]="tagText"/> <button type='button' (click)="addTags()">추가</button>
    </p>
    <p class="howto" id="new-tag-post_tag-desc">각 태그를 쉼표로 분리하세요.</p>
    <div class="tagchecklist">
								<span style="margin-right:5px" *ngFor="let tag of tags">
									<button type="button" id="post_tag-check-num-0" class="remove-icon" (click)="removeTag(tag)">
									</button>&nbsp;{{tag}}
								</span>
    </div>
  </div>
</aside>
